@(issues: Seq[Issue])(implicit user: Option[User])

@linkToIssue(issue: Issue, label: Any) = {
  <a href="@routes.Issues.view(issue.number)">@label</a>
}

@main("Issues") {

  <h2>Issues</h2>
  
  <div class="actions">
	<a href="@routes.Issues.create()" class="btn btn-primary">Create Issue</a>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
	</thead>
	<tbody>
	@issues.map { issue =>
	  <tr>
        <td>
			@linkToIssue(issue, issue.number)
		</td>
        <td>
			@linkToIssue(issue, issue.title)
		</td>
        <td>
			@linkToIssue(issue, issue.description)
		</td>
      </tr>
	}
	</tbody>
  </table>

}