@(issue: Issue, comments: Seq[Comment], commentForm: Form[String])(implicit user: Option[User])

@import helper._
@import helper.custom._

@import java.text.DateFormat
@import java.util.Locale

@main("Issue " + issue.number, user, Some(routes.Issues.list())) {
  
  <h2>Issue @issue.number</h2>
  
  <h4>Title</h4>
  <p>
  	@issue.title
  <p/>
  
  <h4>Reporter</h4>
  <p>
  	@issue.user.name 
  	(@issue.user.email)
  <p/>
  
  <h4>Description</h4>
  <p>
  	@issue.description
  <p/>
  
  <h4>Comments</h4>
  <dl class="comments">
  @comments.map { comment =>
  	<dt>
  	  @comment.user.name 
  	  -
  	  @DateFormat.getDateTimeInstance(DateFormat.MEDIUM, DateFormat.MEDIUM, Locale.US).format(comment.timestamp)
  	</dt>
  	<dd>
  	  @comment.text
  	</dd>
  }
  </dl>
  
  @user.map { u =>
    @helper.form(action = routes.Issues.saveComment(issue.number), args = 'method -> "POST", 'class -> "well") {
    
      @helper.textarea(
	    commentForm("text"),
	    '_label -> "Add a Comment",
	    'class -> "input-xlarge"
	  )
	  
	  <button class="btn" type="submit">Submit</button>
    }
  }
}