@(login: Form[(String, String)], errorMsg: Option[String] = None)

@import helper._
@import helper.custom._

@main("Log in", None, Some(routes.Issues.list())) {
  
  <div class="page-header">
	<h2>Log in</h2>
  </div>
  
  @helper.form(action = routes.Users.authenticate, args = 'method -> "POST", 'class -> "well") {
    
    @errorMsg.map { msg =>
      <div class="alert alert-error">@msg</div>
    }
      
    @inputText(
	  login("email"), 
	  '_label -> "Email",
	  'class -> "input-xlarge"
	)
	  
    @inputPassword(
	  login("password"), 
	  '_label -> "Password",
	  'class -> "input-xlarge"
	)
      
	<button class="btn btn-primary" type="submit">Log in</button>
  }
}