@(issues: Seq[Issue])

@main("Issues") {

  <h2>Issues</h2>
  
  <div class="actions">
	<a href="@routes.Issues.create()" class="btn btn-primary">Create Issue</a>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Description</th>
      </tr>
	</thead>
	<tbody>
	@issues.map { issue =>
	  <tr>
        <td>@issue.number</td>
        <td>@issue.title</td>
        <td>@issue.description</td>
      </tr>
	}
	</tbody>
  </table>

}